<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="example.com.gauss">
    <!-- 访问sdcard权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 自动聚焦权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.INTERNET"/> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".motify_page">
        </activity>
        <activity android:name=".motify_password_page">
        </activity>
        <activity android:name=".page4">
        </activity>
        <activity android:name=".page3">
        </activity>
        <activity android:name=".page2">
        </activity>
        <activity android:name=".page1">
        </activity>
        <activity android:name=".registe_page">
        </activity>
        <activity android:name=".login_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.zxing.activity.CaptureActivity"/>
    </application>

</manifest>